<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>be.egongeerardyn.alfred-texdoc</string>
	<key>connections</key>
	<dict>
		<key>0CF031C2-9D75-4E2A-8F54-B372895727CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>526B2A66-CDDA-47F6-8834-88D68C9B98E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CF031C2-9D75-4E2A-8F54-B372895727CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2CA58D8-E552-4AEE-9FE1-1C79F564866D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40DC9606-85EC-4D99-B56A-82B2214F0616</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2D12119-10F2-43EF-AC7B-4918B8676805</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABD00679-1581-448B-9915-61770D6E88B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Egon Geerardyn</string>
	<key>description</key>
	<string>Consults the TeX documentation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TeXdoc</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>td</string>
				<key>subtext</key>
				<string>Search your local the TeX documentation</string>
				<key>text</key>
				<string>TeXdoc</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash
export PATH=/usr/texbin/:/Library/TeX/texbin:$PATH
texdoc {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CF031C2-9D75-4E2A-8F54-B372895727CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TeXdoc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>526B2A66-CDDA-47F6-8834-88D68C9B98E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tdn</string>
				<key>subtext</key>
				<string>Download documentation using texdoc.net</string>
				<key>text</key>
				<string>TeXdoc.net</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2CA58D8-E552-4AEE-9FE1-1C79F564866D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://texdoc.net/pkg/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>40DC9606-85EC-4D99-B56A-82B2214F0616</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ctan</string>
				<key>subtext</key>
				<string>Open CTAN page for a package</string>
				<key>text</key>
				<string>Comprehensive TeX Archive Network</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E2D12119-10F2-43EF-AC7B-4918B8676805</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://www.ctan.org/pkg/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ABD00679-1581-448B-9915-61770D6E88B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0CF031C2-9D75-4E2A-8F54-B372895727CA</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>40DC9606-85EC-4D99-B56A-82B2214F0616</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>526B2A66-CDDA-47F6-8834-88D68C9B98E2</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>ABD00679-1581-448B-9915-61770D6E88B8</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>B2CA58D8-E552-4AEE-9FE1-1C79F564866D</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>E2D12119-10F2-43EF-AC7B-4918B8676805</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/egeerardyn/alfred-texdoc</string>
</dict>
</plist>
